<html>
    <head>
        <title>Mood Movie Selection</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    
    <body>
        <h1>*** Mood Movie Selection ***</h1>
        <p>In the mood to watch a movie but don't know which one to watch? <br /> 
        Well lucky for you, that's a simple fix! <br />Simply answer the following <br/>
        questions, and a recommended movie will be generated.</p>
        
        {% extends "base.html" %} 
        {% block title%} {% endblock %} 
        {% block body %}
        <form action="#" method="post">
            <h3>Required Questions</h3>
            <p>Would you like Comedy, Drama, Action, Horror:</p>
            <p><button name="mood" type="submit" value="Comdedy">Comdedy</button>
            <button name="mood" type="submit" value="Drama">Drama</button>
            <button name="mood" type="submit" value="Action">Action</button>
            <button name="mood" type="submit" value="Horror">Horror</button>
            
            <p>Would you like Adult or Children related films:</p>
            <p><button name="age_reference" type="submit" value="Adult">Adult</button>
            <button name="age_reference" type="submit" value="Child">Child</button>
            
            <h3>Optional Questions</h3>
            <p>Which genre comes close to the intensity you're looking for:</p>
            <p><button name="intensity" type="submit" value="Animation">Animation</button>
            <button name="intensity" type="submit" value="Family">Family</button>
            <button name="intensity" type="submit" value="Thriller">Thriller</button>
            
            <p>Which genre represents the time period you'd like:</p>
            <p><button name="period" type="submit" value="History">History</button>
            <button name="period" type="submit" value="Science Fiction">Science Fiction</button>
            
            <p>What type of movie represents the thruth level behind the movie:</p>
            <p><button name="type" type="submit" value="History">History</button>
            <button name="type" type="submit" value="Fantasy">Fantasy</button>
   
            
            
        </form>
       {% endblock %}
        
    </body>



</html>
